.patch {
    padding: 8px 12px 8px 12px;
    background-color: var(--semantics-black-bg);
    color: var(--semantics-yellow-text);
    font-family: "AmsiProNarw";
    font-weight: 900;
    @include pxToRem("border-radius", 10);
}
