// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

:root {
  --btn-padding-y: 0.875rem;
  --btn-padding-x: 1rem;
  --btn-font-size: 0.875rem;
  --yellow-gradient-bg: linear-gradient(205.36deg, #ffe600 41.81%, #ffac00 89.85%);
}
